.shopping-cart {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  
    .cart-summary {
      width: 60%;
    }
  
    .total-cart-value {
      width: 30%;
      background: #f0f4ff;
      border-radius: 10px;
      padding: 20px;
    }
  }